.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(187, 184, 184, 0.1);
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formGroup {
    display: flex;
    flex-direction: column;
    background: #000;
}

.formGroup label {
    margin-bottom: 5px;
    font-weight: bold;
}

.formGroup input,
.formGroup textarea,
.phoneInput {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.phoneInput {
    display: flex;
}

.phoneInput select {
    width: 70px;
    margin-right: 10px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.skillCheckbox {
    display: flex;
    align-items: center;
    gap: 5px;
}

.submitButton {
    background-color: #7c3aed;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submitButton:hover {
    background-color: #6d28d9;
}